<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Count the Words</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>

  <body>
    <h3>Your word, "@Model.GetWord()" was counted @Model.GetWordCount() times.</h3>
  </body>

  <a href="/">Play again.</a>
</html>
