<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Count the Words</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>

  <body>
    <!-- <div class="container"> -->
      <h1>Repeated Word Counter</h1>
<!--
      <form action="/" method="post">
        <div class='form-group'>
          <label for='sentence'>Enter a sentence.</label>
          <input id='sentence' name='sentence' class='form-control' type='text'>
        </div>

        <div class='form-group'>
          <label for='word'>Enter a word to be searched and counted.</label>
          <input id='word' name='word' class='form-control' type='text'>
        </div>

        <button type='submit' class='btn'>Go!</button>
      </form>
      <a href= "">Count my word!</a>
    </div> -->
  </body>
</html>
